/* Base code */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.1em;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  border: 1px solid #666;
  border-radius: 5px;
  margin: 30px 0;
  padding: 10px 30px;
  transition: filter 0.3s;
}

.btn:hover {
  filter: brightness(130%);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

/*Header showcase*/
#showcase {
  min-height: 720px;
}
#showcase .bg-img1 {
  position: absolute;
  background: url(../img/bg-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 720px;
  z-index: -1;
}

.showcase-content {
  margin: 0;
  color: white;
  
}
.showcase-content h1 {
  font-weight: 400;
  font-size: 4em;
  padding-top: 5em;
  padding-bottom: 0.2em;
  text-shadow: 2px 2px black;
}
.showcase-content h4 {
  padding: 1em 1em;
  font-weight: 400;
  font-size: 1.6rem;
  text-shadow: 1px 1px black;
}

/*Section-A content*/
#section-A {
  width: 100%;
  margin: 0 auto;
  margin-top: 3em;
  margin-right: 2em;
}

#section-A ul {
  padding: 0;
}

#section-A .content-wrapper {
  max-width: 360px;
  background-color: #f2f2f2;
  margin: 0 auto 30px;
}

#section-A p {
  padding:  0 15px;
  font-size: 0.875rem;
  color: #333;
  line-height: 1.8em;
}

#section-A h3 {
  color: #666;
}

#section-A .content-wrapper h3 {
  padding: 15px 0px;
}

#section-A li:first-child h3 {
  color: #178a27;
}

#section-A li:nth-child(2) h3 {
  color: #1686c1;
}

#section-A .btn-green {
  background-color: #178a27;
}

#section-A .btn-blue {
  background-color: #1686c1;
}

#section-A .btn-red {
  background-color: #852406;
}

#section-A .content-bigger {
  max-width: 460px;
  background-color: #f2f2f2;
  margin: 0 auto 30px;
}

#section-A .content-bigger h3 {
  padding: 10px 0 30px;
}

#section-A li:nth-child(4) p {
  padding-bottom: 60px;
}

#section-A li:last-child .btn {
  background-color: #fff;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#section-A li:last-child .btn:hover {
  filter: brightness(90%);
}